.calendar{
  min-height: 120vh;
  margin-top: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #94c05a;
}

.day{
  width: 470px;
  font-size: 30px;
  height: 600px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.upperband{
  margin: 0px;
  padding: 1px;
  justify-content: center;
  width: 99vw;
  height: 20vh;
  font: "Verdana";
  font-size: 80px;
  background-color: white;
  position: fixed;
}
.friday{
  width: 33%;
  height: 50%;
  background-color: #ff978a;

}
.saturday{
  width: 33%;
  height: 50%;
  background-color: #fc5e1f;

}
.sunday{
  width: 33%;
  height: 50%;
  background-color: #cb9d47;

}
.standband{
  width: 90%;
  height: 10%;
  background-color: #b5c05a;
}
